PORT=5000

POSTGRES_HOST=postgres
POSTGRES_USER=postgres
POSTGRES_PORT=5432
POSTGRES_PASSWORD=secret
# для докера
# POSTGRES_DB=name

# для локальной разработки
# закомментировать при запуске docker compose
# костыль решение которому не придумал
POSTGRES_DATABASE=pogonyalis